@namespace Views

<p class="navigation_toggle" @onclick="this.OnToggle">
    <button class="NavigationMenuButton">
        <span class="icon-bar A"></span>
        <span class="icon-bar A"></span>
        <span class="icon-bar A"></span>
    </button>
</p>
