@namespace Views

<a href="/" Match="NavLinkMatch.All" @onclick="(e) => this.DoClickAction(e, this.BusinessName)" class="@this.ButtonCss.LinkCss">
    <div class="span_logo_container">
        <span class="@this.ButtonCss.ButtonSpanCss" aria-hidden="true">@this.BusinessName</span>
    </div>
</a>
