@namespace Views

@inherits ComponentLite

<button type="button" @onclick="this.OnActionParameter" disabled="@this.ConditionParameter" class="@this.CssParameter">
    @this.LinkTextParameter
</button>



