
@inherits CoreComponent

<Title Value="@this.HeaderTitle"></Title>

<div class="@this.BannerBackgroundImageCssClassCascadingParameter">
    <p class="text_center">@this.HeaderTitle</p>
</div>
