
@inherits CoreComponent

<Title Value="@this.BrowserTitleCascadingParameter"></Title>

<div class="@this.BannerBackgroundImageCssClassCascadingParameter">
    <p class="text_center">
    @this.BannerTitleCascadingParameter
    </p>
</div>
