
<p id="button_home" class="ModalMenuButtonContainer button_home">
    <NavLink class="FixedHomeLogo WebAppMenuButtonB" href="/" Match="NavLinkMatch.All">
        <span class="CloseMenu" aria-hidden="true">Home</span>
    </NavLink>
</p>
