
.SearchFixed
{
    position: fixed;
    display: block;
    z-index: 100;
    max-width: 200px;
    margin: 0 auto;
    right: 0;
    top: 10px;
}

.SearchFixed .form-control
{
    padding: 10px;
    border-radius: 20px 0 0 20px;
    min-width: 200px;
    /*background-color: #0e3f6f;*/
    background-color: #222222;
    /*border: 1px solid #0e3f6f;*/
    border: none;
    color: #FFF;
}

/*
.SearchFixed .form-control[b-tjsl2lpqty]
{
    border-radius: 20px 0 0 20px;
    min-width: 200px;
    background-color: #0e3f6f;
    border: 1px solid #0e3f6f;
    border: none;
    padding: 10px;
    color: #FFF;
}
*/
