
body
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    /*align-items: center;*/
    /*justify-items: center;*/
    justify-content: stretch;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    /*align-items: center;*/
    /*justify-items: center;*/
    /*justify-items: flex-start;*/
    /*justify-content: stretch;*/
}

.align_items_center
{
    align-items: center;
}
.align_items_flex_start
{
    align-items: flex-start;
}
.align_items_stretch
{
    align-items: stretch;
}

.justify_items_center
{
    justify-items: center;
}
.justify_items_flex_start
{
    justify-items: flex-start;
}
.justify-items_stretch
{
    justify-items: stretch;
}

.justify_content_center
{
    justify-content: center;
}
.justify_content_flex_start
{
    justify-content: flex-start;
}
.justify_content_stretch
{
    justify-content: stretch;
}

@media (min-width: 320px)
{
    .grid_320_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_320_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_320_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_320_4
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 480px)
{
    .grid_480_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_480_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_480_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_480_4
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px)
{
    .grid_768_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_768_4
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    width: 100%;
    margin: 0 auto;
}

.grid_2fr_3fr
{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 2fr 1fr;
}

.grid_col_repeat_1_1fr
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.grid_col_repeat_5_1fr
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #b5b5b5;
}

.grid_col_repeat_6_1fr
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #b5b5b5;
    background: #efefef;
}

.grid_col_repeat_7_1fr
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #b5b5b5;
    background: #efefef;
}

.grid_col_repeat_3_1fr td,
.grid_col_repeat_6_1fr td
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thead tr
{
    background: #87acff;
    color: #424242;
    padding-top: 6px;
    padding-bottom: 6px;
}

.grid_container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
}

.grid_card_3
{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 0;
    align-items: center;
}

.grid_center
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 0;
    max-width: var(--main_max_width);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card_grid
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 0;
    max-width: var(--main_max_width);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container_grid_3
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    gap: 0;
    margin: 0 auto;
}

.container_x_auto
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    gap: 25px;
}

.container_x_2
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    gap: 0;
}

.footer_upper_container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: var(--main_max_width);
    margin: 0 auto;
}

.footer_lower_items
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 0;
    margin: 0 auto;
}

.footer_lower_container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    letter-spacing: 1px;
    background: var(--ThemeBackgroundColor);
    color: var(--ThemeColor);
}

.item_container
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    align-items: center;
    gap: 0;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.top_nav_container
{
    display: grid;
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    gap: 0;
    max-width: 480px;
    margin: 0 auto;
}

.info_container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 20px 0;
    max-width: 768px;
    margin: 0 auto;
}

.grid_xs_1
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-items: stretch;
    justify-items: stretch;
    gap: 0;
    margin: 0 auto;
}

.grid_x_3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    gap: 0;
}

/*---------------*/

.grid_col_repeat_2_1fr
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    align-items: center;
}

.grid_col_repeat_3_1fr
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    align-items: center;
}

.grid_auto_fit_min_200_px
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 0;
    justify-content: center;
}

.grid_auto_fit
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    gap: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
}

.grid_col_repeat_1_1fr,
.grid_card_xs,
.grid_xs,
.grid_edif_form_btn_container_xs
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
}







.grid
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    /*align-items: center;*/
    /*justify-items: center;*/
}


.justify_items_center
{
    justify-items: center;
}

.gap_1
{
    gap: 5px;
}

/*
.column_gap_1
{
    column-gap: 5px;
}
.column_gap_2
{
    column-gap: 10px;
}
.column_gap_3
{
    column-gap: 15px;
}
.column_gap_4
{
    column-gap: 20px;
}
*/

@media (min-width: 576px)
{
    .grid_auto_fit_card_sm-
    {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }

    .grid_sm_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_sm_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_sm_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_sm_4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .container_grid_sm_2
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
        margin: 0 auto;
    }
}

@media (min-width: 768px)
{
    .container_grid_3
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
    }

    .info_container
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 20px 0;
        max-width: 768px;
        margin: 0 auto;
    }

    .container_x_2
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
    }

    .footer_upper_container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
    }

    .footer_lower_items
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap: 0;
    }

    .grid_md_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_md_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .top_nav_3_max_width
    {
        max-width: 500px;
    }

    .grid_md_4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_card_md,
    .grid_edif_form_btn_container_md
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .container_grid_md_2
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
        margin: 0 auto;
    }
}

@media (min-width: 992px)
{
    .container_grid_lg_4
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        gap: 0;
        margin: 0 auto;
    }

    .grid_edif_form_btn_container_lg
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_lg_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_lg_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_lg_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_lg_4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_lg_5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid_lg_6
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1200px)
{
    .grid_xl_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_xl_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_xl_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_xl_4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_xl_5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid_xl_6
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1400px)
{
    .grid_xxl_1
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid_xxl_2
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_xxl_3
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_xxl_4
    {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid_xxl_5
    {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid_xxl_6
    {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid_col_repeat_4_1fr,
    .grid_card_lg
    {
        grid-template-columns: repeat(4, 1fr);
    }
}
